.md-layer-8-14-0 {
z-index: 995 !important; color: #ffffff !important;
 text-align: center;
 font-size: 2em;
 font-family: "Open Sans";
}
.md-layer-8-14-1 {
z-index: 996 !important;}
.md-layer-8-14-2 {
z-index: 997 !important;}
.md-layer-8-14-3 {
z-index: 998 !important; color: #f9f7f7 !important;
 text-align: center;
 font-size: 5.1666666666667em;
 font-weight: 800;
 font-family: "Open Sans";
 text-decoration: none;
}
.md-layer-8-14-4 {
z-index: 999 !important; color: #fbf8f8 !important;
 font-size: 1.6666666666667em;
 font-family: "Open Sans";
}
.md-layer-8-15-0 {
z-index: 999 !important; color: #fbefef !important;
 font-size: 4.3333333333333em;
 font-weight: 800;
 font-family: "Open Sans";
}
.md-layer-8-15-1 {
z-index: 1000 !important; color: #f7eeee !important;
 font-size: 1.9166666666667em;
 font-weight: 400;
 font-family: "Open Sans";
}