.md-layer-4-7-0 {
z-index: 995 !important; color: #ffffff !important;
 font-size: 2em;
 font-family: "Open Sans";
}
.md-layer-4-7-1 {
z-index: 996 !important;}
.md-layer-4-7-2 {
z-index: 997 !important;}
.md-layer-4-7-3 {
z-index: 998 !important; color: #ffffff !important;
 font-size: 5.1666666666667em;
 font-weight: 800;
 font-family: "Open Sans";
 text-decoration: none;
}
.md-layer-4-7-4 {
z-index: 999 !important; color: #f9f9f9 !important;
 font-size: 1.6666666666667em;
 font-family: "Open Sans";
}
.md-layer-4-7-5{font-size: inherit; }
.md-layer-4-7-5 a {
-webkit-border-top-left-radius: 6px; -moz-border-radius-topleft: 6px; border-top-left-radius: 6px;
 -webkit-border-top-right-radius: 6px; -moz-border-radius-topright: 6px; border-top-right-radius: 6px;
 -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-left-radius: 6px;
 -webkit-border-bottom-right-radius: 6px; -moz-border-radius-bottomright: 6px; border-bottom-right-radius: 6px;
 color: #ffffff !important;
 text-align: left;
 font-size: 1.8333333333333em;
 font-weight: 600;
 font-family: "Open Sans";
}
.md-layer-4-7-5 {z-index: 1000!important;}