.md-layer-1-1-0 {
z-index: 988 !important;}
.md-layer-1-1-1 {
z-index: 989 !important;}
.md-layer-1-1-2 {
z-index: 990 !important;}
.md-layer-1-1-3 {
z-index: 991 !important;}
.md-layer-1-1-4 {
z-index: 992 !important;}
.md-layer-1-1-5 {
z-index: 993 !important;}
.md-layer-1-1-6 {
z-index: 994 !important;}
.md-layer-1-1-7 {
z-index: 995 !important; color: #ffffff !important;
 font-size: 5.1666666666667em;
 font-weight: 800;
 font-family: "Open Sans";
}
.md-layer-1-1-8 {
z-index: 996 !important; color: #ffffff !important;
 font-size: 2em;
 font-weight: 400;
 font-family: "Open Sans";
}
.md-layer-1-1-9 {
z-index: 997 !important; color: #ffffff !important;
 font-size: 1.6666666666667em;
 font-family: "Open Sans";
}
.md-layer-1-1-10 {
z-index: 998 !important; color: #bab9be !important;
 font-size: 3.0833333333333em;
 font-family: "Shadows Into Light";
}
.md-layer-1-1-11 {
z-index: 999 !important; color: #bab9be !important;
 font-size: 3.9166666666667em;
 font-family: "Shadows Into Light";
}
.md-layer-1-1-12 {
z-index: 1000 !important; color: #bab9be !important;
 font-size: 3.0833333333333em;
 font-family: "Shadows Into Light";
}
.md-layer-1-2-0 {
z-index: 996 !important;}
.md-layer-1-2-1 {
z-index: 997 !important; color: #bab9be !important;
 font-size: 2.5em;
 font-family: "Shadows Into Light";
}
.md-layer-1-2-2 {
z-index: 998 !important; color: #bab9be !important;
 font-size: 3.3333333333333em;
 font-family: "Shadows Into Light";
}
.md-layer-1-2-3 {
z-index: 999 !important; color: #fbfaff !important;
 font-size: 5.1666666666667em;
 font-weight: 800;
 font-family: "Open Sans";
}
.md-layer-1-2-4 {
z-index: 1000 !important; color: #efeef6 !important;
 font-size: 1.6666666666667em;
 font-family: "Open Sans";
}